---
import Prose from "../components/prose.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>hw0k.me</title>
	</head>
	<body>
		<header>
			<div class="container mx-auto flex justify-between items-center h-20">
				<div class="flex justify-start items-center">
					<a class="text-2xl font-bold" href="/">hw0k.me</a>
				</div>
				<div class="flex justify-start items-center">
					<a class=""></a>
				</div>
			</div>
		</header>
		<main>
			<div class="container mx-auto">
				<p>안녕하세요</p>
			</div>
		</main>
		<footer>
			<div class="container mx-auto"></div>
		</footer>
	</body>
</html>
