---
import { Sun, Moon } from '@lucide/astro';
---

<button id="change-theme">
  <div class="hidden dark:flex">
    <Sun />
  </div>
  <div class="flex dark:hidden">
    <Moon />
  </div>
</button>
<script is:inline>
  function toggleGiscusTheme(theme) {
    const iframe = document.querySelector('iframe.giscus-frame');
    if (!iframe) {
      return;
    }
    iframe.contentWindow.postMessage({
      giscus: {
        setConfig: {
          theme: theme === 'dark' ? 'dark_dimmed' : 'light',
        },
      },
    }, 'https://giscus.app');
  }

  function toggleTheme() {
    document.documentElement.classList.toggle('dark');

    const theme = document.documentElement.classList.contains('dark') ? 'dark' : 'light';
    localStorage.setItem('theme', theme);

    toggleGiscusTheme(theme);
  }
  document.getElementById('change-theme').addEventListener('click', toggleTheme);
</script>
