---
import { ViewTransitions } from 'astro:transitions';
import ChangeTheme from './change-theme.astro';

interface Props {
  pageTitle?: string;
}

const { pageTitle } = Astro.props;
const title = [pageTitle, 'hw0k.me'].filter(Boolean).join(' | ');
---

<html lang="ko" transition:animate="none">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
		<title>{title}</title>
    <ViewTransitions fallback="none" />
	</head>
	<body class="flex flex-col min-h-screen bg-white dark:bg-gray-900 text-gray-700 dark:text-white">
		<header class="w-screen text-black dark:text-white">
			<div class="container mx-auto flex flex-row justify-between items-center h-16">
				<div class="flex justify-start items-center">
					<a class="text-xl font-bold hover:underline" href="/">hw0k.me</a>
				</div>
				<div class="flex justify-start items-center gap-3">
					<a class="hover:underline" href="/about">about</a>
          <ChangeTheme />
				</div>
			</div>
		</header>
		<main class="mt-4 flex-1">
			<slot />
		</main>
		<footer class="mt-20 mb-4">
			<div class="container mx-auto text-xs leading-relaxed text-gray-500 hover:*:text-gray-800 hover:*:underline dark:hover:*:text-gray-300">
				font: <a href="https://cactus.tistory.com/306">Pretendard</a> | icon: <a href="https://lucide.dev/icons/">Lucide</a>
				<br />
        <a href="mailto:contact@hw0k.me">contact@hw0k.me</a> | 
        <a href="https://github.com/hw0k">GitHub</a> |
        <a href="https://linkedin.com/in/hw0k">LinkedIn</a>
        <br />
        <a href="/feed.xml">RSS</a> | 
        <a href="/sitemap.xml">Sitemap</a> | 
        <a href="https://github.com/hw0k/hw0k.me">Source code</a>
      </div>
		</footer>
	</body>
</html>
